@charset "UTF-8";
:root {
	--base-font-color: #000;
	--main-font-color: #f9c02d;
	--main-link-color: #666;
	--base-font-size: 16px;
	--point-font-size: 20px;
}/* 변수 지정 - hr에 적용중  */
html {
	font-size: 20px; /*문서 전체 root 폰트 크기  */
}
/*pc버전 스타일
	
	1. 스타일 초기화 : 직접, reset 사용할건지
	
	2. 스타일 관련 공통 스타일, 각 구역별 세부 스타일(코딩 컨벤션)
		- 헤더 ~ 푸터
	
	3. 레이아웃 기법: 여러가지~ 어떤것을 어떻게 사용할지
		- 대부분 : flexbox
		- 부분 : float, position
*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body { 
	font-family: 'Maven Pro', 'Noto Sans KR', sans-serif;
	/*글꼴 순서가 내 html에서 지원하는 우선순서  */
}
a, a:link {
	color: inherit;/*색상: 상속(물려받아서 결정)  */
	/*a는 기본적으로 파랑이데 inherit를 넣음으로써 body의 색을 물려받는다  */
	text-decoration: none;
}	
/*01. 레이아웃 공통  */
.fs-0 {
	font-size: 0;
}
.d-none {
	display: none;
}
.d-flex {
	display: flex
}
.justify-center {
	justify-content: center
}
.justify-between {
	justify-content: space-between;
}
.justify-around {
	justify-content: space-around;
}
.text-center {
	text-align: center;
}
.align-center {
	align-items: center;
}
.align-self-center {
	align-self: center; 
}
.container {
	max-width: 1000px;
}
.py-1 {
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.py-2 {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.py-3 {
	padding-top: 3rem;
	padding-bottom: 3rem;
}
.mx-auto {
	margin: 0 auto;
}
.mt-1 {
	margin-top : 1rem;
}
.mt-2 {
	margin-top : 2rem;
}
.mt-3 {
	margin-top : 3rem;
}
.mt-5 {
	margin-top : 5rem;
}
.mt-6 {
	margin-top : 6rem;
}

.mt-8 {
	margin-top : 8rem;
}
.mb-1 {
	margin-bottom : 1rem;
}
.mb-2 {
	margin-bottom : 2rem;
}
.mb-3 {
	margin-bottom : 3rem;
}
.gap-1 {
	gap: 1rem;
}
.gap-2 {
	gap: 2rem;
}
.gap-3 {
	gap: 3rem;
}
.border-top-thin {
	border-top : 1px solid #000; 
}
.border-left-thin {
	border-top : 1px solid #000;
}
hr {
	border: 0;
	height: 2px;
	background-color: var(--main-font-color);
	position: relative;
	top: -5px; 
}
.pos-absolute {
	position: absolute;
}
/*02. 레이아웃 구역별 세부 클래스 정의  */
/*02-1. header 클래스 정의  */
.links {
	font-size: 14px;
	color: var(--main-link-color);
}
.main_nav a {
	font-size: 0.9rem; 
	font-weight: 700;
	color: var(--main-font-color);
}
.main_nav a:hover {
	color: var(--base-font-color);/*검정색임*/
}
.topNav {
	height: 60px;
}
#trailer {
	
}
.devils {
	z-index: 10;/* 화면 송출 우선순위 조정 먼저 나와라!  */
	left: 50%;
	top: 38%;
	transform: translateX(-50%)/* 변형: x축 이동(얼마)  */
}
.devils:visited {
	display:none;
}
.devils:hover {
	display:none;
}
.youtubeWrap{
    position: relative;
    height: 240px;
    padding-top: 0px;
    padding-bottom: 56.25%;
    overflow: hidden;
}
.youtubeWrap iframe,.youtubeWrap object,.youtubeWrap embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*02-2. main 클래스 정의  */
main h2 {
	font-size: 1.5rem;
	color: var(--main-font-color);
	font-weight: 900;
	text-transform: capitalize; /*첫글자 대문자*/
}
main .character {
	border: 2px solid var(--main-font-color);
	flex: 1; /* width, height 가 없지만, 유연한 레이아웃  */
	text-align:center;
}	
aside {
	background-color: var(--main-font-color);
	text-align: center;
}
/*02-3. footer 클래스 정의  */
.extra-links {
	font-size: 0.75rem;
	color: #888888;
}
.extra-links a:hover {
	color: #000000;
}
.site-info p {
	font-size: 0.55rem;
	color: #888888;
}